BODY{
BACKGROUND-COLOR:#399;
}

p{
color:#FFF;
font-size:17px;
font-family:"Comic Sans MS";

}
ul{
color:#FFF;	
list-style:none;
margin:0;
padding:0;
width:1340px;
height:52px;
background:#999;

}
li{
float:left;
}
a{
color:#000;
text-decoration:none;
Font-family:"Palatino Linotype";
Font-size:16px;
display:block;
padding:18px 24px;
}
.form-register{
width: 400px;
  background:#399;
  padding: 30px;
  margin: auto;
  margin-top: 100px;
  border-radius: 4px;
  font-family: 'calibri';
  color: white;
  box-shadow: 7px 13px 37px #000;
}
h3{
color:#000;	
}
.controls{
width: 100%;
  background: #24303c;
  padding: 10px;
  border-radius: 4px;
  margin-bottom: 16px;
  border: 1px solid #000;
  font-family: 'calibri';
  font-size: 18px;
  color: white;
}